@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic-ext");

html,
body {
    height: 100%;
    background: url('../img/bg.jpg') no-repeat, repeat center, center;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    -webkit-transition: opacity 1.75s ease-out;
    -ms-transition: opacity 1.75s ease-out;
    transition: opacity 1.75s ease-out;
}
body {
    color: #555;
    text-align: center;
    font-family: "PT Sans Narrow", sans-serif;
}

.container{
    background: #fafafa;
    border-radius: 18px;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0,0,0,.2);
}

.inner {
    padding: 30px;
    border: 2px solid #ddd;
    border-radius: 7px;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}


@media (min-width: 768px) {
    .masthead-brand {
        float: left;
        color: #fff;
    }
    .masthead-nav {
        float: right;
    }
}

@media (min-width: 768px) {
    .masthead {
        position: fixed;
        top: 0;
    }
    .site-wrapper-inner {
        vertical-align: middle;
    }
}
