@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic-ext");

html,
body {
    height: 100%;
    background: url('../img/bg.png') no-repeat repeat fixed;
    -moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
    overflow-x:hidden;
    overflow-y:hidden;
}

body {
    color: #555;
    text-align: center;
    font-family: "PT Sans Narrow", sans-serif;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 25px;
}

a,
a:hover {
    color: #555;
    text-decoration: none;
}

.header-brand {
    color: #fff;
    margin: 25px 0 25px 0;
}

.header-logo {
    margin-top: 20px;
    float: left;
}

.inner {
    padding: 0 30px 30px 30px;
    border: 2px solid #ddd;
    border-radius: 7px;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}

.site-wrapper-inner > .container {
    background: #fafafa;
    border-radius: 18px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

span.title {
    color: #e22521;
    font-size: 18px;
}

.form-control:focus {
    border-color: #ff0404;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 4, 4, 0.3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 4, 4, 0.3);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #fafafa;
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #fafafa;
}

#calculoan{
    outline: 0 auto red;
}

.animated{
    animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -webkit-animation-duration: 2s;
}

#content{
    animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
}

.description{
    color: #aaa;
    float: left;
}

.table-responsive {
    max-height: 300px;
    overflow: scroll;
    overflow-x:hidden;
}

@media (min-width: 991px) {
    .mt-11 {
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    .mt-11 {
        margin-top: 20px;
    }
}

@media (max-width: 991px) {
    .irs-with-grid {
        margin-top: 15px;
    }

    .container {
        /*margin-top: 65px;*/
    }
}

@media (max-width: 768px) {
    .container {
        margin: 12px;
    }
}